// responsive devices

$desktop-xl: "(min-width: 1920px)";
$desktop-lg: "(min-width: 1601px) and (max-width: 1919px)";
$macbook: "(min-width: 1367px) and (max-width: 1600px)";
$windows-laptop: "(min-width: 1201px) and (max-width: 1366px)";
$tab-lg: "(min-width: 1201px) and (max-width: 1366px) and (min-height: 880px)";
$tab-landscape: "(max-width: 1200px)";
$tab-lg-portrait: "(min-width: 1024px) and (max-width: 1200px) and (orientation: portrait)";
$tab-portrait: "(max-width: 991px)";
$tab-sm-portrait: "(max-width: 767px)";
$mobile-lg: "(max-width: 575px)";
$mobile-sm-portrait: "(max-width: 410px)";
$iphone-old: "(max-width: 410px) and (max-height: 667px)";
$android-mobile: "(max-width: 360px)";
$iphone-vs: "(max-width: 320px)";




// ============ Fonts Variable ============ // 

$primary-font: 'Poppins', sans-serif;
$slider-font: 'Satisfy', cursive;


// ============ Heading Font Size Variables ============ // 

$heading-lg: 46px;
$heading-md: 32px;
$heading-sm: 20px;
$content-font: 16px;


// ============ Color Variable ============ // 


$primary-color: #201a68;
$secondary-color: #e8036b;
$default-dark: #06041e;
$golden: #d29d19;


